
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html, body {
  overflow-x: hidden;
}
body {
  font-family: "Merriweather", "TT Commons", sans-serif;
  animation-duration: 1000ms;
  scroll-behavior: smooth;
  &.modal-open {
    overflow: hidden;
  }
}
