:root {
  --main-page-font: 'Merriweather', sans-serif;
  --second-page-font:'TT Commons', sans-serif;

  --accent-color: #FF5A26;
  --primary-text-color: #393936;
  --secondary-text-color: #808080;
  
  --white-color: #ffffff;
  --primary-bg-color: rgba(57, 57, 54, 0.03);
  
  --transition-function: 300ms ease-in-out;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
