<!-- HEADER-->
<header class="header">
  <div class="container">
    <nav class="navigation">
      <!-- Logo -->
      <a class="logo" href="/" aria-label="логотип сайта">
        <svg class="logo_icon" width="160" height="36">
          <use href="./images//sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <!-- Navigation -->
      <ul class="navigation__list list">
        <li class="navigation__list-item">
          <a class="navigation__list-link link" href="#">Особливості </a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__list-link link" href="#">Автор курсу</a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__list-link link" href="#">Програма</a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__list-link link" href="#">Записатись</a>
        </li>
      </ul>
      <!-- Feedback -->
      <button class="button link-header" type="button">
        Зворотній зв’язок
      </button>
    </nav>
  </div>
</header>
