<section class="hero-section">
  <div class="hero container">
    <div class="study__box">
      <div class="study content">
        <div class="study content__box">
          <p class="study content__text">
            5 модулів; 13 занять; <br />
            один рік менторства.
          </p>
        </div>
        <svg class="study icon" width="44" height="27">
          <use href="./images//sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      <h1 class="study hero_title">
        Авторський офлайн-курс «Адвокат з сiмейних справ»
      </h1>
    </div>
    <div class="laweyer_box">
      <div class="laweyer card">
        <div class="lawyer picture">
          <svg class="lawyer hero__arrows" width="75" height="25">
            <use href="./images//sprite.svg#icon-icon2"></use>
          </svg>
          <picture class="lawyer picture_box">
            <source
              srcset="
                ./images/hero/lawyer.webp    1x,
                ./images/hero/lawyer@2x.webp 2x
              "
              media="(min-width: 1189px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hero/lawyer.png    1x,
                ./images/hero/lawyer@2x.png 2x
              "
              media="(min-width: 1189px)"
            />
            <source
              srcset="
                ./images/hero/lawyer-mob.webp    1x,
                ./images/hero/lawyer-mob@2x.webp 2x
              "
              media="(min-width: 440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hero/lawyer-mob.png    1x,
                ./images/hero/lawyer-mob@2x.png 2x
              "
              media="(min-width: 440px)"
            />
            <img
              class="lawyer hero__img"
              src="./images/hero/lawyer.png"
              alt="lawyer"
            />
          </picture>
          <svg class="lawyer hero__icon" width="156" height="156">
            <use href="./images//sprite.svg#icon-icon1"></use>
          </svg>
          <svg class="lawyer hero__arrows-vertical" width="75" height="25">
            <use href="./images//sprite.svg#icon-icon2"></use>
          </svg>
        </div>
        <div class="lawyer hero__desc">
          <p class="lawyer hero__text">
            Отримайте досвід, прийоми і підходи від кращої юридичної фірми
            України з гарантією результату — менторською підтримкою від
            залучення клієнта до перемоги в суді
          </p>
        </div>
      </div>
      <div class="study card">
        <button class="btn hero" type="button">Записатися</button>
        <div class="study card-founder">
          <picture class="study card-founder__picture">
            <source
              srcset="./images/hero/foto.webp 1x, ./images/hero/foto@2x.webp 2x"
              media="(min-width: 440px)"
              type="image/webp"
            />
            <source
              srcset="./images/hero/foto.png 1x, ./images/hero/foto@2x.png 2x"
              media="(min-width: 440px)"
            />
            <img
              class="study content-img"
              src="./images/hero/foto.png"
              alt="foto author"
              width="159"
              height="202"
            />
          </picture>
          <div class="study card-founder__box">
            <div class="study card-founder__desc">
              <p class="study card-founder__text">
                Юрій Бабенко, автор курсу і провідний фахівець Mitrax
              </p>
            </div>
            <button class="button link-hero" type="button">Детальніше</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
