<section class="program section" id="program">
  <div class="container">
    <h2 class="title program">
      Програма курсу <br />
      складається з 5 модулів
    </h2>

    <div class="program tabs" id="tabs-1">
      <div class="controls" >
        <div class="controls-tabs_btn" data-controls-btn>
          <a href="#module1" class="program list_item active">Модуль 1</a>
          <a href="#module2" class="program list_item">Модуль 2</a>
          <a href="#module3" class="program list_item">Модуль 3</a>
          <a href="#module4" class="program list_item">Модуль 4</a>
          <a href="#module5" class="program list_item">Модуль 5</a>
        </div>
        <div class="controls-tabs_item" data-controls-link>
          <a href="#module1" class="program list_link link-active">
            <p class="program module-list__module">Модуль 1</p>
            <p class="program module-list__name">Сімейні відносини. Шлюб</p>
          </a>
          <a href="#module2" class="program list_link">
            <p class="program module-list__module">Модуль 2</p>
            <p class="program module-list__name">
              Майнові відносини у сімейному праві
            </p>
          </a>
          <a href="#module3" class="program list_link">
            <p class="program module-list__module">Модуль 3</p>
            <p class="program module-list__name">Батьки та діти</p>
          </a>
          <a href="#module4" class="program list_link">
            <p class="program module-list__module">Модуль 4</p>
            <p class="program module-list__name">Судові сімейні спори</p>
          </a>
          <a href="#module5" class="program list_link">
            <p class="program module-list__module">Модуль 5</p>
            <p class="program module-list__name">Залучення клієнтів</p>
          </a>
        </div>
      </div>
      <div class="program__left-side">
        <div class="program section__box" data-modules>
          <div class="module active" id="module1">
            <img
              class="program section__icon"
              src="./images//module1.svg"
              alt="module"
            />
            <p class="program section__sign">2 заняття</p>
            <p class="program section__module">Сімейні відносини. Шлюб</p>
          </div>
          <div class="module" id="module2">
            <img
              class="program section__icon"
              src="./images//module2.svg"
              alt="module"
            />
            <p class="program section__sign">2 заняття</p>
            <p class="program section__module">
              Майнові відносини у сімейному праві
            </p>
          </div>
          <div class="module" id="module3">
            <img
              class="program section__icon"
              src="./images//module3.svg"
              alt="module"
            />
            <p class="program section__sign">2 заняття</p>
            <p class="program section__module">Батьки та діти</p>
          </div>
          <div class="module" id="module4">
            <img
              class="program section__icon"
              src="./images//module4.svg"
              alt="module"
            />
            <p class="program section__sign">2 заняття</p>
            <p class="program section__module">Судові сімейні спори</p>
          </div>
          <div class="module" id="module5">
            <img
              class="program section__icon"
              src="./images//module5.svg"
              alt="module"
            />
            <p class="program section__sign">2 заняття</p>
            <p class="program section__module">Залучення клієнтів</p>
          </div>
        </div>

        <div class="program section__lessons">
          <ul class="program lessons-list">
            <li class="program lessons-list__item">
              <b>Заняття 1.</b> Сімейні відносини. Факт проживання сім’єю без
              реєстрації шлюбу. Порядок укладання шлюбу.
            </li>
            <br />
            <br />
            <li class="program lessons-list__item">
              <b>Заняття 2.</b> Порядок розірвання шлюбу. Визнання шлюбу
              недійсним або неукладеним.
            </li>
          </ul>
          <button class="btn program" type="button">Записатися на курс</button>
        </div>
      </div>
    </div>
  </div>
</section>
