<section class="program section" id="program">
  <div class="container">
    <h2 class="title program">
      Програма курсу <br />
      складається з 5 модулів
    </h2>
    <div class="program section__box">
      <div class="program__left-side">
        <img
          class="program section__icon"
          src="./images//group.svg"
          alt="group"
          width="108"
          height="100"
        />
        <p class="program section__sign">2 заняття</p>
        <p class="program section__module">Сімейні відносини. Шлюб</p>
        <div class="program section__lessons">
          <ul class="program lessons-list">
            <li class="program lessons-list__item">
              <b>Заняття 1.</b> Сімейні відносини. Факт проживання сім’єю без
              реєстрації шлюбу. Порядок укладання шлюбу.
            </li>
            <br />
            <br />
            <li class="program lessons-list__item">
              <b>Заняття 2.</b> Порядок розірвання шлюбу. Визнання шлюбу
              недійсним або неукладеним.
            </li>
          </ul>
        </div>
        <button class="btn program" type="button">Записатися на курс</button>
      </div>
      <div class="program__right-side">
        <ul class="program module-list">
          <li class="program module-list__item active">
            <p class="program module-list__module">Модуль 1</p>
            <p class="program module-list__name">Сімейні відносини. Шлюб</p>
          </li>
          <li class="program module-list__item">
            <p class="program module-list__module">Модуль 2</p>
            <p class="program module-list__name">
              Майнові відносини у сімейному праві
            </p>
          </li>
          <li class="program module-list__item">
            <p class="program module-list__module">Модуль 3</p>
            <p class="program module-list__name">Батьки та діти</p>
          </li>
          <li class="program module-list__item">
            <p class="program module-list__module">Модуль 4</p>
            <p class="program module-list__name">Судові сімейні спори</p>
          </li>
          <li class="program module-list__item">
            <p class="program module-list__module">Модуль 5</p>
            <p class="program module-list__name">Залучення клієнтів</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
