<section class="registration" id="registration">
  <div class="container">
    <div class="registration box">
      <div class="registration__left-side">
        <h2 class="title registration">
          Приєднайтеся <br> до програми
        </h2>
       <div class="registration desc">
        <p class="registration content">
          Гарантуйте собі успішний 
           <br> старт кар'єри адвоката
        </p>
        <svg class="content__icon" width="37" height="27">
          <use href="./images//sprite.svg#icon-arrow"></use>
        </svg>
       </div>
       <div class="registration explain">
         <p class="registration text">
          Навчання проводиться не частіше 1 разу на 3-6 місяців. Наступний набір буде взимку 2022 року. 
         </p>
        </div>
        <p class="registration plase">
          Залишилося місць: 3 з 10
        </p>
        <ul class="registration list__plase__icon">
          <li class="registration list__plase__item">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item active">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item active">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
          <li class="registration list__plase__item active">
            <svg class="plase__icon" width="24" height="24">
              <use href="./images//sprite.svg#icon-circled"></use>
            </svg>
          </li>
        </ul>
       </div>
      <div class="registration__right-side">
        <h2 class="title form">Введіть дані <br>
          у форму нижче</h2>
          <p class="registration form__desc">і наш менеджер зателефонує вам найближчим часом</p>
        <form class="registration form" id="registration-form">
          <input type="text" name="user_name" class="registration form__input" placeholder="Ім'я" required>
          <input type="tel" name="user_phone" class="registration form__input" placeholder="Телефон" required>
          <button class="btn registration" onclick="location.href='./success.html'" type="button">Залишити заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>
