<section class="success">
  <div class="container success">
    <a class="logo" href="#" aria-label="логотип сайта">
        <svg class="logo_icon">
          <use href="./images//sprite.svg#icon-logo"></use>
        </svg>
      </a>
     <img src="./images//success.svg" alt="success" class="success_img" width="132" height="123"> 
     <h2 class="title success">Ми отримали вашу заявку та скоро зателефонуємо</h2>
     <button type="button"  class="btn-success" onclick="location.href='./index.html'">На головну сторінку</button>
  </div>
</section>

