.btn {
  height: 50px;
  font-family: var(--second-page-font);
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  background: #ff6f41;
  box-shadow: 0px 10px 30px rgba(255, 111, 65, 0.5);
  border-radius: 200px;
  border:transparent;
  cursor: pointer;
}


