.hero-section{
  padding-top: 26px;
}
.study.content {
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-left: 2px solid #ff5a26;
  margin-bottom: 32px;
}
.study.content__text {
  font-family: var(--main-page-font);
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 125%;
  color: var(--primary-text-color);
}

.study.card-founder__desc {
  width: 160px;
  margin-top: 40px;
  margin-bottom: 37px;
}
.study.card-founder__text {
  font-family: var(--second-page-font);
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.25;
  color: var(--primary-text-color);
}
.button.link-hero {
  font-family: var(--second-page-font);
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: var(--primary-text-color);
  border: none;
  background: var(--white-color);
  cursor: pointer;
  &:hover,
  &:focus{
    color: var(--accent-color);
  }
}

.btn.hero {
  margin-top: 58px;
  width: 161px;
  padding: 12px 10px;
  text-align: center;
}
.study.hero_title {
  font-family: var(--main-page-font);
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-bottom: 38px;
}
.lawyer.hero__img {
  width: 440px;
  height: 210px;
}

.lawyer.picture {
  position: relative;
  margin-bottom: 50px;
}

.lawyer.hero__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lawyer.hero__text {
  font-family: var(--second-page-font);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.25;
  color: var(--primary-text-color);
}
.lawyer.hero__arrows {
  position: absolute;
  top: 45px;
  left: -39px;
}
.lawyer.hero__arrows-vertical {
  position: absolute;
  top: 348px;
  left: 759px;
  transform: rotate(-90deg);
}
.lawyer.picture_box{
  object-fit: cover;
}


@media screen and (max-width: 1200px) {
  .hero-section{
    padding-bottom: 45px;
  }

  .hero.container {
    display: flex;
    flex-direction: column;
  }
  .study.icon {
    display: none;
  }
  .lawyer.hero__arrows {
    display: none;
  }
  .study.card-founder {
    flex-direction: column;
    margin-top: 58px;
  }
  .study.card-founder__picture {
    margin-right: 51px;
  }
  .lawyer.hero__arrows{
    display: none;
  }
}
@media screen and (min-width: 1211px) {
  .study.content__box {
    position: relative;
  }
  .study.content {
    height: 110px;
    padding-left: 27px;
    margin-right: 62px;
    margin-bottom: 0; 
  }
   .study.icon {
    margin-left: 18px;
  }
  .study.hero_title{
    font-size: 58px;
    line-height: 1.15;
    margin-bottom: 0px;
  }
  .lawyer.hero__img {
    width: 877px;
    height: 359px;
  }
  .lawyer.hero__desc {
    width: 666px;
    
  }
  .btn.hero {
    margin-top: 66px;
  }
  div.study.card {
    display: flex;
    flex-direction: column-reverse;
  }
  .study__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
  }
  
  .laweyer_box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
}
